<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="post">
                <h1>Düzenle</h1>
                <form action="/post/<%= @post.id %>/" method="post" role="form">
                    <input type="hidden" name="_method" value="put" />
                    <%= partial "form_partial", {post: @post} %>
                    <button type="submit" class="btn btn-primary">Güncelle</button>
                    <a href="/" class="btn btn-warning">Geri Dön</a>
                </form>
            </div>
        </div>
    </div>
</div>