<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="post">
                <h1>
                    <%= @post.title %>
                    <small><%= I18n.localize @post.updated_at, :format => "%A, %B %d, %Y, %H:%M" %></small>
                </h1>
                <%= markdown @post.description %>
            </div>
            <a class="btn btn-primary" href="/">Geri dön</a>
        </div>
    </div>
</div>