<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="post">
                <h1>Yeni Post</h1>
                <form action="/post/" method="post" role="form">
                    <%= partial "form_partial" %>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>