.post {
    margin-bottom: 2em;
}
.post h1,
.post h2 {
    margin-bottom: 1em;
}

.post p {
    font-size: 1.4em;
    margin-bottom: 1em;
}

.post h2 small {
    display: block;
}

.post h1 small {
    display: block;
}